- provide(:title, "Contact")
%h1 Contact
%p
  Contact the developer about the e-shop at the
  = succeed "." do
    %a{:href => "https://www.facebook.com/edi.alexandru", :target => "_blank"} personal page
